.bx-wrapper{
   text-align: center;
   max-width: 750px;
   margin: 0 auto 50px;
   border: none;
   box-shadow: none;
}

.bx-wrapper .bx-pager.bx-default-pager a{
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background: #2B292D;
   opacity: 0.2;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover {
   background: #3142C5;
   opacity: 1;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
   background: #3142C5;
      opacity: 1;
   }