* {
   box-sizing: border-box;
}

body {
   font-family: 'Work Sans', sans-serif;
   color: #2B292D;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.flex__start {
   justify-content: flex-start;
   gap: 11px;
}


.button-blue {
   height: 48px;
   width: 160px;
   border: none;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
   border-radius: 2px;
   font-size: 18px;
   line-height: 13px;
   color: #FFFFFF;
   font-weight: 700;

}

.button-blue:hover {
   background: linear-gradient(180deg, rgba(21, 35, 233, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #6170f5;
   cursor: pointer;
   transition: 0.5s;
}

.button-white {
   height: 48px;
   width: 158px;
   border: none;
   font-size: 18px;
   line-height: 13px;
   color: #000000;
   background: #fff;
   font-weight: 700;
   margin-left: 10px;
}

.button-white:hover {
   background: rgb(238, 235, 235);
   cursor: pointer;
   transition: 0.5s;
}


/* ============================== INFO ================================================= */


.info__pretitle {
   font-weight: 700;
   font-size: 22px;
   line-height: 34px;
   margin-bottom: 26px;
}

.info__pretitle-orange {
   color: #F1592B;
}

.info__pretitle-blue {
   color: #0189D1;
}

.info__title {
   font-weight: 700;
   font-size: 56px;
   line-height: 56px;
   letter-spacing: -0.5px;
   margin-bottom: 26px;
   max-width: 462px;
   width: 100%;

}

.info__text {
   font-size: 24px;
   line-height: 34px;
   color: #2B292D;
   margin-bottom: 44px;
   max-width: 461px;
   width: 100%;
}

/* ==================================== HEADER ======================================================= */
.header {
   background: #F3C6BD;
   padding: 50px 0 76px;
}

.logo img {
   margin-right: 15px;
}

.logo__title {
   font-weight: 700;
   font-size: 20px;
   line-height: 25px;
   color: #2B292D;
}

.logo__text {
   font-size: 18px;
   line-height: 25px;
   color: #2B292D;
}

.header__link {
   font-size: 18px;
   line-height: 25px;
   color: #2B292D;
   text-decoration: none;
   position: relative;
}

.header__link:hover {
   font-weight: 700;

}

.header__link:hover::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #3d4588;
   bottom: -3px;

}

.header__ul {
   margin-right: 77px;
}

.header__li:not(:first-of-type) {
   margin-left: 30px;
}




/* ================================= description  ========================================== */

.description {
   background: #F4F5F7;
   padding: 77px 0 76px;
}




.description__title {
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 32px;
   color: #2B292D;
}

.description__text {
   font-size: 22px;
   line-height: 32px;
   color: #2B292D;
   max-width: 555px;
}

/* ================= lable-list ================================== */

.lable-list {
   margin: 33px auto;
}

.lable-list__items {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: 1 fr;
   gap: 105px;
}

.lable-list__img {
   width: 100%;
   height: 100%;
   object-fit: scale-down;
}


/* ======================== INBOX ========================================== */

.inbox {
   background: rgba(252, 240, 227, 0.4);
   padding: 142px 0 138px;
}

.inbox__response {
   background: #fff;
   max-width: 519px;
   width: 100%;
   padding: 30px 30px 24px;
   border-bottom: 4px solid #0186D1;
}

.inbox__text {
   font-size: 20px;
   line-height: 28px;
   margin-bottom: 26px;
}

.inbox__text-bold {
   font-weight: 700;
}

.inbox__name {
   font-weight: 700;
   font-size: 16px;
   line-height: 22px;
   margin-bottom: 5px;
}

.inbox__position {
   line-height: 22px;
   color: rgba(43, 41, 45, 0.6);
}

/* ============================= COMMUNICATE ========================================= */

.communicate {
   margin: 110px auto 105px;
}

.communicate__block {
   margin-bottom: 105px;
}

.info-communicate__block {
   max-width: 360px;
   width: 100%;
}


.info-communicate__text {
   font-size: 18px;
   line-height: 26px;
   margin-bottom: 10px;
}

.info-communicate-span {
   font-weight: 700;
}

.info-communicate__link {
   color: #3040C4;
   font-weight: 700;
   font-size: 18px;
   line-height: 26px;
}

/* ============================= section audience ========================================= */
.audience {
   padding: 108px 0 110px;
   text-align: center;
   background: #EDF8FB;
}

.audience__pretitle {
   font-size: 22px;
   line-height: 34px;
   color: #2B292D;
   margin-bottom: 24px;
   font-weight: 700;
}


.audience__text {
   max-width: 555px;
   margin: 0 auto 34px;
}


.audience__button {
   margin-bottom: 111px;
}


.audience__list {
   display: grid;
   gap: 30px;
   grid-template-columns: repeat(4, 1fr);

}

.list-audience__text {
   font-size: 22px;
   line-height: 28px;
   color: #2B292D;
   font-weight: 700;
}



.list-audience__item {
   height: 300px;
   width: 262px;
   background: #fff;
   padding-top: 22px;
}

.list-audience__item:hover {
   background: #3141C5;
   cursor: pointer;
}

.list-audience__item:hover .list-audience__text {
   color: #fff;
}

.list-audience__item img {
   margin-bottom: 32px;
}

/* =========================== SECTION COVER ==================================== */
.cover-list {
   margin-bottom: 91px;
   text-align: center;
   margin-top: 90px;

}



.title {
   font-weight: 700;
   font-size: 56px;
   line-height: 66px;
   color: #000000;
   margin-bottom: 26px;
}

.cover-list__text {
   max-width: 554px;
   margin: 0 auto 97px;
}

.text {
   font-size: 24px;
   line-height: 34px;
   color: #172342;
}



.cover-list__grid {
   display: grid;
   gap: 50px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
}



.covered__item:nth-child(3),
.covered__item:nth-child(4) {
   grid-row: span 2;
}

.covered__item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}

/* ======================================================================================= */

@media screen and (max-width: 1200px) {
   .container {
      max-width: 1040px;
   }

   .header__ul {
      margin-right: 50px;
   }

   .description__text {
      max-width: 455px;
   }

   .audience__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 38px 64px;
      max-width: 588px;
      margin: 0 auto;
   }


   .list-audience__item {
      max-width: 262px;
      width: 100%;
      height: 300px;
   }

   .audience__button {
      margin-bottom: 52px;
   }

   .audience__title title {
      font-size: 48px;
   }

}

@media screen and (max-width: 1090px) {
   .container {
      max-width: 750px;
   }

   .header {
      padding: 31px 0 25px;
   }

   .logo__text {
      display: none;
   }

   .header__nav {
      display: none;
   }

   .info {
      text-align: center;

   }

   .inbox {
      padding: 56px 0 69px;
   }

   .flex__inbox-column {
      flex-direction: column-reverse;
   }

   .info__pretitle {
      margin-bottom: 14px;

   }

   .info__title {
      font-size: 48px;
      line-height: 52px;
      margin: 0 auto 14px;

   }

   .info__text {
      font-size: 20px;
      line-height: 26px;
      max-width: 429px;
      width: 100%;
      margin: 0 auto 41px;
   }

   .inbox__response {
      margin: 0 auto 75px;
      text-align: start;
   }

   .cover-list__grid {
      gap: 29px 45px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
   }

   .covered__item:nth-child(7) {
      display: none;
   }

   .covered__item:nth-child(3) {
      grid-column: 2/3;
      grid-row: 1/3;
   }

   .covered__item:nth-child(4) {
      grid-row: 4/2;
   }

   .covered__item:nth-child(2) {
      grid-row: 4/5;
      grid-column: 2/3;
   }

   .cover-list__text {
      max-width: 400px;
      margin: 0 auto 113px;
   }

   .title {
      font-size: 48px;
      line-height: 56px;
      color: #000000;
      margin-bottom: 29px;
   }

   .description {
      padding: 30px 0;
   }

   .flex__desc {
      flex-direction: column;
      justify-content: center;
      gap: 45px;
   }

   .description__title {
      margin-bottom: 10px;

   }

   .description__text {
      max-width: 432px;
   }

   .flex__communicate {
      flex-direction: column;
   }

   .communicate {
      margin: 73px auto 38px;
   }

   .communicate__block {
      margin-bottom: 38px;
   }

   .info__btn {
      margin-bottom: 55px;
   }

   .flex__com {
      flex-direction: column;
   }


   .info-communicate__block {
      text-align: center;
      margin: 0 auto 38px;
      max-width: 322px;
      width: 100%;
   }

   .lable-list {
      margin: 25px auto 41px;
   }

   .lable-list__items {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 21px 110px;
      margin: 0 auto;
   }

   .lable-list__img {
      max-width: 85px;
      width: 100%;
      justify-self: center;
   }

   .audience {
      padding: 50px 0 79px;
   }
.button-white {
  margin-left: 10px;
}

}


@media screen and (max-width: 800px) {
   .container {
      max-width: 500px;
   }

   .inbox {
      padding: 40px 0;
   }

   .inbox__response {
      margin: 0 auto 50px;
   }

   .cover-list {
      margin: 50px auto;
   }

   .title {
      font-size: 38px;
      line-height: 46px;
      color: #000000;
      margin-bottom: 19px;
   }

   .cover-list__text {
      max-width: 350px;
      margin: 0 auto 50px;
   }

   .cover-list__grid {
      gap: 15px 25px;
   }

   .description__text {
      max-width: 350px;
   }

   .description__text {
      font-size: 20px;
   }

   .lable-list {
      margin: 20px auto 31px;
   }

   .audience__list {
      gap: 28px 44px;
      max-width: 588px;
      margin: 0 auto;
   }
}

@media screen and (max-width: 550px) {
   .container {
      max-width: 430px;
   }

   .info__pretitle {
      margin-bottom: 7px;
   }

   .info__title {
      font-size: 36px;
      line-height: 48px;
      max-width: 362px;
      width: 100%;
      margin: 0px auto 7px;
   }

   .info__text {
      font-size: 18px;
      line-height: 26px;
      max-width: 329px;
      width: 100%;
      margin: 0 auto 21px;
   }

   .inbox__response {
      margin: 0 auto 30px;
   }

   .cover-list {
      margin: 45px auto;
   }

   .title {
      font-size: 28px;
      line-height: 36px;
      color: #000000;
      margin-bottom: 15px;
   }

   .cover-list__text {
      font-style: 16px;
      max-width: 250px;
      margin: 0 auto 30px;
   }

   .cover-list__grid {
      gap: 12px 20px;
   }

   .description__title {
      margin-bottom: 8px;
   }

   .description__text {
      font-size: 18px;
      max-width: 232px;
      width: 100%;

   }

   .lable-list {
      margin: 20px auto 45px;
   }

   .lable-list__items {
      gap: 15px 80px;
   }

   .audience {
      padding: 30px 0 69px;
   }

   .audience__list {
      gap: 20px 34px;
      max-width: 588px;
      margin: 0 auto;
   }
.audience__text{
max-width: 350px;
}
}


@media screen and (max-width: 480px) {
   .container {
      max-width: 310px;
   }

   .container-image__img {
      width: 100%;
   }

   .container-image__img {
      width: 100%;
   }

   .container-image__phone {
      max-width: 310px;
      width: 100%;
   }

   .lable-list__items {
      gap: 20px 50px;
   }

.audience {
   padding: 50px 0;
}

.audience__text{
   width: 290px;
}
.audience__pretitle {
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 18px;
   font-weight: 700;
}
.audience__pretitle{
   font-size: 20px;
}

.audience__list {
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(4, 1fr);
max-width: 262px;
margin: 0 auto;
}
.audience__button .button-blue{
   margin-bottom: 10px;
   width: 290px;
}
.audience__button .button-white{
   width: 290px;
   margin: 0 auto
}

.audience__button{
   margin-bottom: 40px;
}
.cover-list__grid {
   grid-template-columns: 1fr;
   grid-template-rows: repeat(7, 1fr);
   gap: 17px;
}

.covered__item:nth-child(2) {
   display: none;
}

.covered__item:nth-child(3) {
   grid-column: 1/2;
   grid-row: 4/6;
}

.covered__item:nth-child(4) {
   grid-row: 4/2;
}

.cover-list {
   margin: 78px auto 55px;
}

}

@media screen and (max-width: 360px) {
   .container {
      max-width: 300px;
   }

   .lable-list__items {
      gap: 20px 50px;
   }
}

@media screen and (max-width: 320px) {
   .container {
      max-width: 290px;
   }

   .header {
      background: #fff;
      padding: 8px 0;
   }

   .logo img {
      margin-right: 13px;
   }

   .container-image {
      margin-bottom: 32px;
   }

   .flex__inbox-column {
      flex-direction: column;
   }

   .inbox {
      padding: 50px 0;
   }

   .info {
      text-align: start;
   }

   .info__pretitle {
      margin-bottom: 17px;
   }

   .info__title {
      font-size: 40px;
      line-height: 40px;

      margin: 0 auto 18px;
      max-width: 290px;
      width: 100%;
   }

   .info__text {
      font-size: 24px;
      line-height: 34px;
      max-width: 290px;
      width: 100%;
      margin: 0 auto 30px;
   }

   .inbox__response {
      max-width: 290px;
      width: 100%;
      margin: 30px auto 20px;
   }


   .title {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 45px;
   }

   .cover-list__text {
      max-width: 303px;
      width: 100%;
      font-size: 24px;
      line-height: 34px;
      margin: 0 auto 25px;
   }

   .description {
      padding: 26px 0;
   }

   .description__block {
      max-width: 290px;
      width: 100%;
   }

   .communicate {
      margin: 53px auto;
   }


   .container-image img {
      max-width: 290px;
      width: 100%;
   }


   .info__btn {
      margin-bottom: 40px;
   }

   .lable-list__items {
      gap: 10px 30px;
   }

   .audience__text{
      font-size: 24px;
         line-height: 34px;
   }

}